= render 'shared/header'

.score-form
  .member-name-score
    = @member.nickname
  .member-game-count
    = "#{@game_count}試合目"
  = form_for @score, url: member_scores_path do |f|
    .score-list
      打席数
      = f.text_field :plate_appearance, class: 'field-score'
    .score-list
      打数
      = f.text_field :at_bat, class: 'field-score'
    .score-list
      安打
      = f.text_field :hit, class: 'field-score'
    .score-list
      打点
      = f.text_field :runs_batted_in, class: 'field-score'
    .score-list
      犠打
      = f.text_field :sacrafice, class: 'field-score'
    .score-list
      犠飛
      = f.text_field :sacrafice_fly, class: 'field-score'
    .score-list
      四死球
      = f.text_field :walk, class: 'field-score'
    .score-list
      三振
      = f.text_field :strikeout, class: 'field-score'
    .score-list
      盗塁
      = f.text_field :stolen_base, class: 'field-score'
    .score-list
      得点
      = f.text_field :run, class: 'field-score'
    .score-list
      本塁打
      = f.text_field :home_run, class: 'field-score'
    = f.submit "スコアを登録", class: 'button-score'
    = button_to root_path do
      .back-button
        戻る
