%header
  .container
    .container__left
      = link_to root_path do
        %i.fa.fa-baseball-ball
      = link_to root_path ,class: 'title' do
        Simple Record
    .container__right
      %ul
        - if user_signed_in?
          - if request.path_info == root_path
            = link_to new_member_path do
              %li メンバーを追加
          - if request.path_info != root_path
            = link_to root_path do
              %li 戻る
          = link_to destroy_user_session_path, method: :delete do
            %li ログアウト
        - else
          = link_to new_user_registration_path do
            %li 新規登録
          = link_to new_user_session_path do
            %li ログイン
