- @member.each do |member|
  %tbody
    %tr
      %td
        = link_to member_path(member.id), class: 'member-name' do
          = member.nickname
      %td
        = total_match(member.id)
      %td
        = total_batting_average
      %td
        = total_plate_appearance
      %td
        = total_at_bat
      %td
        = total_hit
      %td
        = total_runs_batted_in
      %td
        = total_sacrafice
      %td
        = total_sacrafice_fly
      %td
        = total_walk
      %td
        = total_strikeout
      %td
        = total_stolen_base
      %td
        = total_run
      %td
        = total_home_run
      %td
        = total_on_base_percentage
      %td
        = link_to new_member_score_path(member.id), class: 'score' do
          スコアを登録
