- @score.each_with_index do |score, i|
  %tbody
    %tr
      %td
        = "#{i + 1}"
      %td
        = batting_average_show(score)
      %td
        = score.plate_appearance
      %td
        = score.at_bat
      %td
        = score.hit
      %td
        = score.runs_batted_in
      %td
        = score.sacrafice
      %td
        = score.sacrafice_fly
      %td
        = score.walk
      %td
        = score.strikeout
      %td
        = score.stolen_base
      %td
        = score.run
      %td
        = score.home_run
      %td
        = on_base_percentage_show(score)
      %td
        = link_to edit_member_score_path(score), class: 'score' do
          編集
        = link_to member_score_path(score), method: :delete, class: 'score-delete' do
          削除
