.login-user-page
  .login-user-form
    %h2
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .app-name-icon
        = link_to root_path do
          %i.fa.fa-baseball-ball
        = link_to root_path ,class: 'title' do
          Baseball Record
      .login-field
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "login-user"
        .field
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password", class: "login-user"
        .actions
          = f.submit "ログイン", class: "login-user login-user-btn"
    = render "devise/shared/links"
