= render 'shared/header'

.main-content
  - if @member.length == 0 && user_signed_in?
    .no-data
      メンバーを追加しましょう
  - unless user_signed_in?
    .no-signin.no-member
      ログインまたは新規登録をお願いします

  - if user_signed_in? && @member.length >= 1
    %table
      %thead
        %tr
          %th
          %th.list
            試合数
          = render 'shared/score-header'

      = render 'shared/members'

      %tfoot
        %tr
          %td
            チーム合計
          %td
            = @game_count
          = render 'shared/score-footer'
